
<div style="text-align: center">
  <.flash_group flash={@flash} />

  <h1 class="text-2xl">Party Animal</h1>

  <p><.link href={~p"/events"}>View Events</.link>.</p>
  <p><.link href={~p"/users/register"}>Register a User</.link>.</p>
  <p><.link href={~p"/users/log_in"}>Log in</.link>.</p>

  <br/><br/>

  <h2 class="text-xl">Invites</h2>

  <div id="invites-main">
    React component loading...
  </div>
  
</div>
