
<div style="text-align: center">
  <.flash_group flash={@flash} />



  <h1>Party Animal</h1>

  <p><.link href={~p"/events"}>View Events</.link>.</p>
  <p><.link href={~p"/users/register"}>Register a User</.link>.</p>
  <p><.link href={~p"/users/log_in"}>Log in</.link>.</p>

</div>
