<.header>
  New Invite
  <:subtitle>Use this form to manage invite records in your database.</:subtitle>
</.header>

<.invite_form changeset={@changeset} action={~p"/invites"} />

<.back navigate={~p"/invites"}>Back to invites</.back>
